<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수강관리</title>
    <style>

        .list {
            margin : auto;
            position :relative;
            padding-top : 50px;
        }

        .list table {
            width : 100%;
            border-collapse: collapse;
            text-align:center;
        }

        .list table th, .list table td {
            border: 1px solid black;
        }

        .list .total-count {
            position:absolute;
            top:0; right:0;
        }

        .list .row-buttons{
            text-align:center;
        }

        .pager{
            margin-top:20px;
            text-align:center;
        }

        .pager a.on{
            font-weight : bold;
            color:red;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <script>

        $(document).ready(function(){

            $('#searchCourseId').on('change',function(){
                let courseId = $(this).val();
                location.href = "?searchCourseId="+courseId;
            });

            $('.row-buttons button').on('click', function(){

                let status = $(this).val();
                // closest를 통해 상위로 이동, find로 하위 요소 찾기
                let id = $(this).closest('div').find('input[name=id]').val();

                let msg = status == 'COMPLETE' ? '결제 완료 처리 하시겠습니까?' : '수강 취소 처리 하시겠습니까?';

                if (!confirm(msg)) {
                    return false;
                }

                let $procForm = $('#procForm');
                $procForm.find('input[name=id]').val(id);
                $procForm.find('input[name=status]').val(status);
                $procForm.submit();

            });

        });
    </script>
</head>
<body>
    <h1>수강 관리</h1>
    <!--<div th:replace="/fragments/layout.html::fragment-admin-body-menu"></div>-->
    <div class = "list">
        <div class = "buttons">
            <select id = "searchCourseId">
                <option value="">전체 강좌</option>
                <option th:each="x : ${courseList}" th:value="${x.id}"
                        th:text="${x.subject}" th:selected="${#strings.equals(param.searchCourseId, x.id)}">전체 강좌</option>
            </select>
        </div>
        <div>
            <p class = "total-count">전체 <span th:text="${totalCount}"></span>개</p>
        </div>
        <table>
            <thead>
            <tr>
                <th>NO</th>
                <th>등록일</th>
                <th>강좌명</th>
                <th colspan = "3">신청인</th>
                <th>상태</th>
                <th>비고</th>
            </tr>
            </thead>
            <tbody id = "dataList">
            <tr th:each="x : ${list}">
                <td th:text="${x.seq}">1</td>
                <td>
                    <p th:text="${x.registeredAtText}">2021.08.20</p>
                </td>
                <td>
                    <p th:text = "${x.subject}">강좌명</p>
                </td>
                <td>
                    <p th:text="${x.userName}">홍길동</p>
                </td>
                <td>
                    <p th:text="${x.userId}">test@gmail.com</p>
                </td>
                <td>
                    <p th:text="${x.phoneNumber}">010-1234-5678</p>
                </td>
                <td>
                    <p th:if="${x.status eq 'REQ'}">수강신청</p>
                    <p th:if="${x.status eq 'COMPLETE'}">결제완료</p>
                    <p th:if="${x.status eq 'CANCEL'}">수강취소</p>
                </td>
                <td>
                    <div class = "row-buttons" th:if="${x.status eq 'REQ'}">
                        <input type = "hidden" name = "id" th:value = "${x.id}">
                        <button value = "COMPLETE" type = "button">결제완료 처리</button>
                        <button value = "CANCEL" type = "button">수강취소 처리</button>
                    </div>
                </td>
            </tr>
            <tr th:if = "${#lists.size(list) < 1}">
                <td colspan="8" style = "height:100px">
                    강좌 내용이 없습니다.
                </td>
            </tr>
            </tbody>
        </table>
        <div class = "pager" th:if = "${#lists.size(list) > 0}" th:utext="${pager}"></div>
    </div>
</body>

<form id = "procForm" name ="procForm" method = "post" action = "/admin/takecourse/status.do">
    <input type = "hidden" name ="id">
    <input type = "hidden" name ="status">
</form>

</html>