<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자 메인</title>
</head>
<body>
    <h1>관리자 메인</h1>
    <div>
        <a href="/admin/main.do">관리자 메인</a>
        |
        <a href="/admin/member/list.do">회원 관리</a>
        |
        <a href="#">카테고리 관리</a>
        |
        <a href="#">강의 관리</a>
        |
        <a href="/member/logout">로그아웃</a>
        <br/>
    </div>
</body>
</html>