<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <style>

        /* title */
        .title{
            width : 100%;
            height : 100px;
            padding : 10px;
            box-sizing: border-box;
            text-align : center;
        }

        /* member-info-box */
        .member-info-box{
            width : 400px;
            margin : auto;
            border-radius : 5px;
            background-color : cornsilk;
            padding : 20px;
            box-sizing : border-box;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <script>

        $(document).ready(function(){
            $('#submitForm').on('submit', function(){

                let $thisForm = $(this);

                let newPassword = $thisForm.find('input[name=newPassword]').val();
                let reNewPassword = $thisForm.find('input[name=newRePassword]').val();

                if (newPassword != reNewPassword) {
                    alert('신규 비밀번호와 신규 비밀번호 확인이 일치하지 않습니다.');
                    return false;
                }

            });
        });
    </script>
</head>
<body>
   <h1 class = "title">회원 정보</h1>
   <div>
       <hr/>
       <a href = "/member/info">회원 정보 수정</a>
       |
       <a href = "/member/password">비밀번호 변경</a>
       |
       <a href="/member/takecourse">내 수강 정보</a>
       <hr>
   </div>
  <!-- <div th:replace="/fragments/layout.html::fragment-body-menu"></div>-->
   <div>
       <form method = post id = "submitForm">
           <div>
               <input type = "password" name = "password" placeholder = "현재 비밀번호 입력" required>
           </div>
           <div>
               <input type = "password" name = "newPassword" placeholder = "신규 비밀번호 입력" required>
           </div>
           <div>
               <input type = "password" name = "newRePassword" placeholder = "신규 확인 비밀번호 입력" required>
           </div>
           <div>
               <button type = "submit">비밀번호 변경</button>
           </div>
       </form>
   </div>
</body>
</html>