<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fastlms.course.mapper.TakeCourseMapper">

    <sql id = "selectListWhere">
        <if test="searchCourseId > 0">
            and c.id = #{searchCourseId}
        </if>
    </sql>

    <select id="selectListCount" resultType="long">
        select
            count(*)
        from take_course tc
            join course c on tc.course_id = c.id
            join member m on tc.user_id = m.user_id
        <include refid="selectListWhere"></include>
    </select>

    <select id="selectList" resultType="com.example.fastlms.course.dto.TakeCourseDto">

        select
            tc.*,
            c.subject,
            m.user_name,
            m.phone_number
        from take_course tc
            join course c on tc.course_id = c.id
            join member m on tc.user_id = m.user_id
        where 1 = 1
        <include refid="selectListWhere"></include>
        order by registered_at desc
        limit ${pageStart}, #{pageEnd}

    </select>

    <!-- user ID 에 해당하는 수강신청 내역 반환  -->
    <select id="selectListMyCourse" resultType="com.example.fastlms.course.dto.TakeCourseDto">

        select
            tc.*,
            c.subject
        from take_course tc
            join course c on tc.course_id = c.id
        where tc.user_id = #{userId}
        order by registered_at desc

    </select>
</mapper>